.places {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 92px 0;
  box-sizing: border-box;
}

@media screen and (max-width:1024px) {
  .places {
  padding-left: calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024)));
  padding-left: calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width:768px) {
  .places {
  padding-bottom: 90px;
  padding-left: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  padding-left: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width:320px) {
  .places {
  padding-bottom: 66px;
  padding-left: 0px;
  padding-right: 0px;
  }
}

