.places__image {
  max-width: 460px;
  width: 100%;
  grid-area: places__image;
  margin: 0 auto;
  padding: 0;
  align-self: self-start;
  justify-self: start;
}

@media screen and (max-width:320px) {
  .places__image {
  min-height: 320px;
  }
}

