.places__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:840px) {
.places__title {
  font-size: calc(42px + (72 - 42) * ((100vw - 768px) / (1024 - 768)));
  padding: 0 10px 0 0; /*чтобы коса перенеслась*/
  }
}

@media screen and (max-width:725px) {
.places__title {
  font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
  padding-left: 16px;
  padding-right: 16px;
  }
}


