.header__logo {
  max-width: 176px;
  padding-top: 28px;
  margin: 0;
}

@media screen and (max-width:320px) {
  .header__logo {
  max-width: calc(142px + (176 - 142) * ((100vw - 320px) / (1280 - 320)));
  padding-top: 16px;
  }
}
