.lead__title {
  max-width: 720px;
  margin: 0;
  padding-bottom: 32px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width:768px) {
  .lead__title {
  font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
  padding-bottom: 32px;
  }
}

@media screen and (max-width:320px) {
  .lead__title {
  font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
  padding-bottom: 16px;
  }
}
