.lead__image {
  max-width: 984px;
  width: 100%;
  box-sizing: border-box;
  padding: 64px 0 0 0;
  margin: 0 auto;
  display: block;
}


@media screen and (max-width:1024px) {
  .lead__image {
  max-width: 927px;
  padding-top: calc(56px + (64 - 56) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width:768px) {
  .lead__image {
  max-width: 768px;
  padding: 56px 0 0 0;
  }
}

*@media screen and (max-width:320px) {
  .lead__image {
  padding-top: calc(40px + (56 - 40) * ((100vw - 320px) / (768 - 320)));
  }
}

