.cover {
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width:1024px) {
  .cover {
  max-width: calc(1024px + (1184 - 1024) * ((100vw - 1024px) / (1280 - 1024)));
  min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover {
  max-width: calc(768px + (1024 - 768) * ((100vw - 768px) / (1024 - 768)));
  min-height: 480px;
  }
}

@media screen and (max-width:320px) {
  .cover {
  max-width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
  min-height: 200px;
  }
}

.cover:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: .3;
  transition: opacity 200ms ease-in-out;
  background-color: #2A2C2F;
  color: #FFFFFF;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cover:hover:before {
  opacity: .5;
}
