.into__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  text-align: justify;
  list-style: none;
  overflow: hidden;
  text-align: left;
  padding: 0;
  margin: 0;
}

@media screen and (max-width:320px) {
  .into__title {
  font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320)));
  line-height: 1.09;
  }
}
